.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
catboost_info/
*.cbm
*.joblib
**/predictions_test.csv
*.zip
*.tmp
*.log
Thumbs.db
.DS_Store
CORRECTION_URGENTE.txt
README_URGENT.txt
